---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">¿Tienes una Solicitud Especial? ¡Estamos Aquí para <strong>Ayudarte!</strong></h2>
			<p class="pb-0 text-lg">
				Elige una de las opciones a continuación para obtener la ayuda específica que necesitas. Ya sea soporte al cliente, consultas de ventas, solicitudes de funciones o comentarios generales, estamos aquí para brindarte la mejor asistencia posible.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Soporte al Cliente"
				subtitle="¿Necesitas ayuda con Talento Local? Nuestro equipo de soporte está disponible 24/7 para asistirte con cualquier problema o pregunta que puedas tener."
				icon="rocket"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Consultas de Ventas"
				subtitle="¿Interesado en nuestros planes o en una solución personalizada? Ponte en contacto con nuestro equipo de ventas para encontrar la opción perfecta."
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Solicitudes de Funciones"
				subtitle="¿Tienes una idea para mejorar Talento Local? ¡Nos encantaría saber de ti! Comparte tus solicitudes de funciones y ayúdanos a mejorar."
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Comentarios Generales"
				subtitle="Tus comentarios son invaluables para nosotros. Déjanos saber cómo lo estamos haciendo y cómo podemos mejorar."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
