---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Content
// - SEO
const SEO = {
	title: 'Talento Local | Términos de Servicio',
	description:
		"Los términos de servicio de Talento Local describen las reglas y regulaciones que rigen el uso de nuestros servicios. Por favor, léelos detenidamente para comprender tus derechos y responsabilidades."
}
// - Page Header
const header = {
	title: 'Términos y Condiciones: Lee, Relájate, <strong>Disfruta!</strong>',
	text: 'Por favor, léelos detenidamente para comprender tus derechos y responsabilidades.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Introducción</h3>
			<p>
				Por favor, tómate un momento para leer estos términos y entender tus derechos y
				responsabilidades al utilizar nuestros servicios.
			</p>
		</div>
		<div class="basic-text">
			<h4>Bienvenido a Talento Local</h4>
			<p>
				¡Bienvenido a Talento Local! Nos alegra que te unas a nosotros. Nuestros servicios están diseñados para ayudarte
				a gestionar ofertas laborales, comunicarte de manera efectiva y mejorar tu empleabilidad. Al usar Talento Local, estás
				aceptando estos términos y condiciones, así que por favor léelos detenidamente.
			</p>
			<p>
				Tu satisfacción es importante para nosotros. Si tienes alguna pregunta o inquietud sobre estos
				términos, no dudes en contactarnos. Nuestro equipo está aquí para asistirte y asegurarse de que
				tengas una excelente experiencia con Talento Local.
			</p>

			<h4>Aceptación de Términos</h4>
			<p>
				Al acceder o utilizar nuestros servicios, aceptas cumplir y estar sujeto a estos Términos de
				Servicio y nuestra Política de Privacidad. Si no estás de acuerdo con alguna parte de estos términos, no debes
				utilizar nuestros servicios. El uso continuado de Talento Local significa tu aceptación de estos términos.
			</p>
			<p>
				Nos reservamos el derecho de modificar estos términos en cualquier momento. Te notificaremos cualquier cambio
				publicando los nuevos términos en nuestro sitio web. Es tu responsabilidad revisar estos términos
				periodicamente. El uso continuado del servicio después de cualquier cambio significa que aceptas los nuevos términos.
			</p>

			<h4>Nuestro Compromiso Contigo</h4>
			<p>
				En Talento Local, nos comprometemos a proporcionarte servicios confiables y de alta calidad. Nuestro objetivo es
				ayudarte a lograr tus metas de empleabilidad y desarrollo profesional con facilidad. Trabajamos
				constantemente para mejorar nuestros servicios y ofrecerte la mejor experiencia posible.
			</p>
			<p>
				Valoramos tus comentarios y sugerencias. No dudes en comunicarte con nosotros con cualquier
				observación o idea sobre cómo podemos servirte mejor. Tu opinión nos ayuda a mejorar Talento Local y a satisfacer tus necesidades.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h3>Cuentas de Usuario</h3>
			<p>
				Esta sección explica los requisitos y responsabilidades asociados con la creación y
				mantenimiento de una cuenta de usuario en Talento Local. Por favor, asegúrate de comprender y cumplir con estas
				directrices para utilizar nuestros servicios de manera efectiva.
			</p>
		</div>
		<div class="basic-text">
			<h4>Registro</h4>
			<p>
				Para acceder a ciertas funciones de Talento Local, debes crear una cuenta de usuario. Durante el registro, aceptas
				proporcionar información precisa y completa. Esta información nos ayuda a servirte mejor y garantiza la seguridad y funcionalidad de tu cuenta.
			</p>
			<p>
				Al registrarte, también aceptas mantener tu información actualizada. La información inexacta o desactualizada puede generar problemas con tu cuenta y afectar tu capacidad para utilizar ciertas funciones de Talento Local.
			</p>

			<h4>Seguridad de la Cuenta</h4>
			<p>
				Mantener la seguridad de tu cuenta es tu responsabilidad. Aceptas mantener tu
				contraseña confidencial y no compartirla con nadie. Si sospechas de cualquier uso no autorizado
				de tu cuenta, debes notificarnos de inmediato.
			</p>
			<p>
				Recomendamos utilizar una contraseña segura y única para tu cuenta de Talento Local. Actualizar
				regularmente tu contraseña y utilizar la autenticación de dos factores, si está disponible, puede mejorar aún más la seguridad de tu cuenta.
			</p>

			<h4>Uso de la Cuenta</h4>
			<p>
				Como titular de la cuenta, eres responsable de todas las actividades que ocurran bajo tu cuenta.
				Esto incluye cualquier acción realizada por otros que puedan tener acceso a tu cuenta. Asegúrate de
				monitorear y gestionar el uso de tu cuenta de manera adecuada.
			</p>
			<p>
				Si detectamos alguna actividad sospechosa o no autorizada, podemos tomar medidas para proteger tu
				cuenta, incluyendo la suspensión temporal del acceso o la exigencia de pasos de verificación adicionales.
				Nuestro objetivo es proteger tu cuenta y tu información personal.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent>
		<div slot="sidebar">
			<h3>Limitación de Responsabilidad</h3>
			<p>
				Esta sección describe las limitaciones de nuestra responsabilidad con respecto al uso de los servicios de Talento Local.
				Entender estas limitaciones te ayuda a conocer el alcance de nuestras responsabilidades y tus derechos.
			</p>
		</div>
		<div class="basic-text">
			<h4>Limitaciones Generales</h4>
			<p>
				Talento Local se proporciona "tal cual" y "según disponibilidad". No garantizamos que el servicio
				será ininterrumpido, libre de errores o completamente seguro. Renunciamos a todas las garantías, ya sean
				expresas o implícitas, incluyendo, pero no limitadas a, las garantías implícitas de comercialización,
				idoneidad para un propósito particular y no infracción.
			</p>
			<p>
				No somos responsables de ningún daño resultante del uso o la imposibilidad de usar nuestros servicios,
				incluyendo, pero no limitado a, daños directos, indirectos, incidentales, especiales, consecuentes o
				punitivos. Esto incluye daños por pérdida de beneficios, datos u otros bienes intangibles.
			</p>

			<h4>Servicios de Terceros</h4>
			<p>
				Talento Local puede incluir enlaces a sitios web o servicios de terceros que no son propiedad ni están controlados
				por nosotros. No respaldamos ni asumimos ninguna responsabilidad por dichos sitios, información, materiales,
				productos o servicios de terceros. El acceso y uso de estos servicios de terceros es bajo tu propio riesgo.
			</p>
			<p>
				No somos responsables por ninguna pérdida o daño incurrido como resultado de cualquier trato con
				sitios web o servicios de terceros, incluyendo el intercambio de tu información con dichos terceros. Es tu
				responsabilidad revisar los términos y condiciones y las políticas de privacidad de cualquier sitio web o servicio de terceros que utilices.
			</p>

			<h4>Responsabilidad Máxima</h4>
			<p>
				En ningún caso nuestra responsabilidad total hacia ti por todas las reclamaciones que surjan del uso o la incapacidad de usar el servicio excederá el monto pagado por ti, si lo hay, por acceder a Talento Local durante los doce (12) meses inmediatamente anteriores a la fecha de la reclamación.
				Esta limitación se aplica independientemente de la forma o fuente de la reclamación o pérdida, ya sea que dicha responsabilidad surja de cualquier reclamación basada en contrato, garantía, agravio o de otro tipo.
			</p>
			<p>
				Algunas jurisdicciones no permiten la exclusión o limitación de responsabilidad por daños consecuentes o incidentales, por lo que la limitación anterior puede no aplicarse en tu caso. En tales casos, nuestra responsabilidad se limitará al máximo permitido por la ley aplicable.
			</p>
		</div>
	</SidebarContent>
</Layout>
